@layout("layouts.default")

@section("head")
  @super
@endsection

@section("header")
  <h1>{{ data.name }}</h1>
    <h4 class="text-muted"><small>last updated: {{ data.last_updated }}</small></h4>
@endsection

@section("content")
<div class="row">
  <div class="col">
    @include("includes.form")
  </div>
</div>
<br />
<br>
<br>
@endsection

@section("tail")
{{ script("profile/profile.js")}}
@endsection
