<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @section("head")
      @include("includes.bootstrap")
    @endsection
  </head>
  <body>
    @include("includes.navbar")
    <header class="header container">
      @section("header")
      @endsection
    </header>
      <div class="container">
        @!section("content")
      </div>
    </div>
  </body>
  @section("tail")
  @endsection
</html>
