<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    @include("includes.bootstrap")
    <title>asdf</title>
  </head>
  <body>
    @include("includes.navbar")
    <div class="container">
      @!section("content")
    </div>
  </body>
</html>
